<html>
    <head>
        <title>FuelEfficiency</title>
    </head>
    <style>
        .box
        {
            margin-top: 10%;
            margin-left: 20%;
            margin-right:20%;
            border: 4px dashed black; 
            background-color: plum;
            text-align: center; 
        }
    </style>
    <body>
        <div class="box">
        <h1>FUEL EFFICIENCY CALCULATOR</h1>
        <h3>S HARSHITH SANJAI</h3>
        <h3>25014134</h3>
        <br>
        <form method="POST">
            {% csrf_token %}
            <label>Distance Travelled: </label>
            <input type="text" name="distance" value="{{d}}" required> Km
            <br><br>
            <label>Fuel Consumed: </label>
            <input type="text" name="fuelconsumed" value="{{f}}" required> L
            <br><br>
            <input type="submit" value="Calculate">
            <br><br>
            <label>Fuel Efficiency: </label>
            <input type="text" name="efficiency" value="{{fe}}"> Km/L
        </form>
        </div>
    </body>
</html>